{% extends 'music/base.html' %}

{% block b %}
<div class="row">
    {% for a in albums %}
        <div class="col-sm-5 col-md-3 col-lg-3 my-3 mx-auto ">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title"><a href="{% url 'music:detail' a.pk %}"><img src="{{a.logo.url}}" class="img-responsive img-thumbnail" style="width:80%;height:50%"><br>{{a.title}}</a></h3>
                    <h5 class="caption">{{a.artist}}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<hr>
<div class="card my-3 mx-3">
    <div class="card-body text-left">
        {% if songs %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
            </thead>
            <tbody>
            {% for s in songs %}
            <tr>
                <td><a href="{%url 'music:detail' s.album.pk%}"><img src="{{s.album.logo.url}}" class="img-responsive img-thumbnail" style="width: 50px;height: 50px">&nbsp;{{s.title}}</a></td>
                <td>{{ s.album.artist }}</td>
                <td><a href="{%url 'music:detail' s.album.pk%}">{{s.album.title}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}