{% extends 'music/base.html' %}

{% block b %}
{% if songs %}
<h2>Here are your songs:<br></h2>
<div class="row">
    {% for s in songs %}
        <div class="col-sm-5 col-md-4 col-lg-3 my-2 mx-auto ">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title"><a href="{% url 'music:detail' s.album.pk %}"><img src="{{s.album.logo.url}}" class="img-responsive img-thumbnail" style="width:80%;height:50%"></a><br>{{s.title}}</h3>
                    <h5 class="caption">{{s.album.artist}}</h5>
                    <a href="{{s.file.url}}"><button class="btn btn-primary"><span class="fa fa-download" aria-hidden="true" title="Download option on the player"></span></button></a>
                    <a href="{% url 'music:likes' s.pk %}"><button class="btn btn-primary"><span class="fa fa-thumbs-up" aria-hidden="true"></span></button></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>You don't have songs yet</p>
{% endif %}
{% endblock %}