{% extends 'music/base.html' %}

{% block t %}{{a.title}}{% endblock %}

{% block b %}
<div class="row">
    <div class="col-sm-5 col-md-3 col-lg-3 my-2 mx-auto ">
        <div class="card">
            <div class="card-body text-left">
                <h3 class="card-title"><a href="{% url 'music:detail' a.pk %}"><img src="{{a.logo.url}}"
                                                                                    class="img-responsive img-thumbnail mb-2"
                                                                                    style="width:80%;height:50%"><br>{{a.title}}</a>
                </h3>
                <h5 class="caption">{{a.artist}}</h5>
                <h6 style="color: gray">{{a.genre}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-8 my-2 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                {% if a.song_set.all %}
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>File type</th>
                            <th>Download Link</th>
                            <th>Like</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in a.song_set.all %}
                        <tr>
                            <td>{{s.title}}</td>
                            <td>{{s.filetype}}</td>
                            <td><a href="{{s.file.url}}"><button class="btn btn-primary"><span class="fa fa-download" aria-hidden="true" title="Download option on the player"></span></button></a></td>
                            <td><button class="btn btn-primary" onclick="location.href='{%url 'music:likes' s.pk%}'"><span class="fa fa-thumbs-up" aria-hidden="true"></span></button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>info not found</p>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}